{% extends "mail/layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1>FullSend</h1>
  <p>
FullSend is an automated email service that helps the Purdue Electric Racing team manage mass communication in and around our organization. The link to the code can be found <a href="https://github.com/RyanSchw/FullSend" target="_blank">here</a>.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="{{signin_url}}" role="button" id="connect-button">Connect to Outlook</a>
  </p>
</div>
{% endblock %}
